* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    width: 1100px;
    margin: auto;
    text-decoration: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.aling-center{
    align-items:center;
}

ul,ol {
    list-style: none;
}
.body{
    font-family: 'Open Sans', sans-serif;
}
/* navber stred heres*/
nav{
    background-color:#02918c;
    color: white;
    
}

nav .logo {
    width: 30%;
}
nav .menu{
    width: 70%;
   
}
nav .menu ul{
    text-align: right;
}
nav .menu ul li{
    display: inline-block;
}
nav .menu ul li a{
    font-weight: 800;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 25px 25px;
    display: inline-block;
    transition: 300ms;
    border-radius: 15px;
}
nav .menu ul li a:hover{
    color: black;
    background-color: red;
    padding: 15px 25px;

}

/*navber ends heres*/
/*banner stred heres*/
#banner{
    background-image:url(../img/project-1\(A\)-MYFOLIO.jpg);
    background-color: rgb(0, 0, 0, 0.34);
    background-blend-mode: multiply;
    height: 725px;
    background-size: cover;
    background-position:center;
}

#banner .bnc{
    text-align: center;
    color: white;
    width: 100%;
}

#banner .bnc h3{
    font-weight: 400;
    font-size: 30px;
}
#banner .bnc h1{
    font-weight: 800;
    font-size: 68px;
    text-transform: uppercase;
    letter-spacing: 30px;
}
#banner .bnc p{
    font-weight: 400;
    font-size: 18px;
}
#banner .bnc img{
    
    margin: 50px 0px;
}
#banner .bnc a{
    width: 197px;
    height: 48px;
    background-color:#cfc91d;
    
    text-decoration: none;
    display: block;
    margin: auto;
    font-size: 14px;
    font-weight: 800;
    color: #0b1016;
    text-transform: uppercase;
    letter-spacing:5px;
    line-height:48px;
}
#banner .bnc a:hover{
    color: azure;
}
#banner .row{
    height: 725px;
}

/*banner ends heres*/

/*about stred heres*/
#about .ac{
    text-align: center;
    margin: 100px ;
}
#about .ac h1{
    color: #02918c;
    font-size: 46px;
    font-weight: 800;
}
#about .ac p{
    
    color: #bdbfc2;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
#about .ac h5{
    line-height: 35px;
    color: #9da0a3;
    font-size: 400;
    font-weight: 16px;

}
#about .ac h5 span{
    color: #7e8287;
    font-size: 23px;
    font-weight: 800;
}
/*about ends heres*/